<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <script src="/js/moment.min.js"></script>
    <script src="/js/image.js"></script>
</head>
<body>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <th>id</th>
                <th>用户Id</th>
                <th>上传时间</th>
                <th>描述</th>
                <th>地点</th>
                <th>操作</th>
            </thead>
            <tbody id="imageBody">
                <tr>
                    <td>1</td>
                    <td>13111111111</td>
                    <td>2016-11-01 11:11:11</td>
                    <td>警察叔叔这里有人装逼！</td>
                    <td>上海市人民广场</td>
                    <td><button>查看</button><button>下载</button><button>删除</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>