<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>后台模板管理系统</title>
    <script src="/js/jquery.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="/css/flat-ui.css" rel="stylesheet"/>-->
    <script src="/js/flat-ui.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/index.css"/>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script src="/js/moment.min.js"></script>

</head>

<body>
<div class="top" uid="123"></div>
<div id="header">
    <div class="logo">便民警务后台管理系统</div>
    <div class="navigation">
        <ul>
            <li>欢迎您！</li>
            <li><a href="" th:text="${phone}">张山</a></li>
            <li><a href="/admin/api/logout">退出</a></li>
            <li id="uid" th:data="${uid}" style="visibility: hidden;"></li>
        </ul>
    </div>
</div>
<div id="content">
    <div class="left_menu">
        <ul id="nav_dot">
            <li>
                <h4 class="M1" id="main"><span></span>首页</h4>
            </li>
            <li>
                <h4 class="M2" id="notice"><span></span>警务公告</h4>
            </li>
            <li>
                <h4 class="M3" id="theme"><span></span>警务交流</h4>
            </li>

            <li>
                <h4 class="M5"><span></span>违法举报</h4>

                <div class="list-item none">
                    <a id="image">图片</a>
                    <a id="video">视频</a>
                </div>
            </li>
            <li>
                <h4 class="M6" id="user"><span></span>用户管理</h4>
            </li>

        </ul>
    </div>
    <div class="m-right">
        <div class="right-nav">
            <ul>
                <li><img src="/images/home.png"/></li>
                <li style="margin-left:25px;">您当前的位置：</li>
                <li><a href="#" id="position">首页</a></li>
            </ul>
        </div>
        <div class="main">

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="z-index:210;">
        <div class="modal-content" style="z-index:255;">
            <div class="modal-header">ª
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">图片</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="bottom"></div>
<div id="footer"><p>便民服务</p></div>




<script>
    navList(12);
    $("#main").click(function(){$(".main").load("/admin/welcome");$("#position").text("首页");});
    $("#notice").click(function(){$(".main").load("/admin/notice");$("#position").text("警务公告");});
    $("#theme").click(function(){$(".main").load("/admin/theme");$("#position").text("警务交流");});
    $("#image").click(function(){loadmain("/admin/image");$("#position").text("违法举报");});
    $("#video").click(function(){loadmain("/admin/video");$("#position").text("违法举报");});
    $("#user").click(function(){loadmain("/admin/user");$("#position").text("用户管理");});

    var loadmain = function(address){
        $.ajax({
            type:"get",
            url:address,
            success:function(data){$(".main").html(data);}
        });
    }
</script>
</body>
</html>
