<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/flat-ui.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link href="css/flat-ui.css" rel="stylesheet"/>
    <script src="/js/jquery.backstretch.min.js"></script>
    <style>
        body{ background: url(img/bg.jpg) no-repeat center top;}
        #navigation{ padding: 25px; background-color: rgba(0,0,0,0); filter:alpha(opacity=100); opacity:1;}
        #navigation li a{font-size:20px;}
    </style>
</head>
<body>
    <div id="nav">
        <nav id="navigation" role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header col-md-2">
                    <label class="navbar-brand">警务系统</label>
                </div>
                <div class="navbar-collapse collapse col-md-8 col-md-offset-2" style="color: #1abc9c;">
                    <ul class="nav navbar-nav">
                        <li class="jobsnav"><a href="./jobs">首页</a></li>
                        <li class="clientsnav"><a href="./clients">警务公告</a></li>
                        <li class="failednav"><a href="./failed">警务交流</a></li>
                        <li class="stormnav"><a href="./storm">违法信息</a></li>
                        <li class="stormnav"><a href="./storm">用户管理</a></li>
                    </ul>
                </div>
                <div class="navbar-header col-md-2">
                    <label>欢迎您，某某某!</label><a href="logout">退出!</a>
                </div>
            </div>
        </nav>
    </div>

    <div style="padding-top: 170px;">
        <label>
            This is a test page!
        </label>
        <div>
            <h2>今天上传违法信息10条！</h2>
        </div>
    </div>
    <!--<div class="container">-->
    <!--<div>-->
        <!--<table class="table table-striped">-->
            <!--<caption>用户上传视频</caption>-->
            <!--<thead>-->
            <!--<th>用户</th>-->
            <!--<th>comment</th>-->
            <!--<th>创建时间</th>-->
            <!--<th>地点</th>-->
            <!--<th>查看</th>-->
            <!--</thead>-->
            <!--<tbody id="imagelist">-->

            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->



</body>
</html>