<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <script src="/js/user.js"></script>
    <script src="/js/moment.min.js"></script>

</head>
<body>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <th>id</th>
                <th>手机号</th>
                <th>密码</th>
                <th>操作</th>
            </thead>
            <tbody id="userBody">
            </tbody>
        </table>
    </div>
</body>
</html>